Source: libtertiusqbit-application-model-kvstore-perl
Section: perl
Priority: extra
Maintainer: Dmitry Lukiyanchuk <wtertius@gmail.com>
Build-Depends: debhelper (>= 8.0.0), perl, libtertiusqbit-perl, libtertiusqbit-application-perl, libtertiusqbit-application-model-db-perl
Standards-Version: 3.9.4

Package: libtertiusqbit-application-model-kvstore-perl
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, perl, libtertiusqbit-perl, libtertiusqbit-application-perl, libtertiusqbit-application-model-db-perl
Conflicts: libqbit-application-model-kvstore-perl
Replaces: libqbit-application-model-kvstore-perl
Description: Key/Value store.
 Key/Value store.
